@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}

body {
  margin: 0px;
  height: 80vh;
}

.wrapper {
 min-height: 100vh;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
}

label {
	font-family: roboto;
}

select {
	font-family: roboto;
}

option {
	font-family: roboto;
}

.word-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {

}

tr {

}

td {
	padding: 10px;
	text-align: center;
	font-family: roboto;
}

.kana-wrapper {
	display: flex;
	flex-direction: row;
}

.translation {
	margin: 0px;
	padding: 0px;
	font-family: roboto;
	/*font-size: 24px;*/
	color: black;
	font-weight: bold;
	white-space: nowrap;
}

.translation-high {
	margin: 0px;
	padding: 0px;
	font-family: roboto;
	/*font-size: 24px;*/
	color: #8d55f0;
	font-weight: bold;
	white-space: nowrap;
}

.pitch-legend {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.legend-descr {
	margin: 0px;
	padding: 0px;
	font-family: roboto;
	/*font-size: 24px;*/
	color: black;
	font-weight: bold;
}

.legend-high {
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	font-family: roboto;
	/*font-size: 24px;*/
	color: #8d55f0;
	font-weight: bold;
}

.legend-low {
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	font-family: roboto;
	/*font-size: 24px;*/
	color: black;
	font-weight: bold;
}

.play-wrapper {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	gap: 20px;
}

.play-kana {
	display: flex;
	flex-direction: row;
}

.play-low {
	margin: 0px;
	padding: 0px;
	font-family: roboto;
	font-size: 30px;
	color: black;
	font-weight: bold;
	white-space: nowrap;
	user-select: none;
}

.play-high {
	margin: 0px;
	padding: 0px;
	font-family: roboto;
	font-size: 30px;
	color: #8d55f0;
	font-weight: bold;
	white-space: nowrap;
	user-select: none;
}

.play-kanji {
	margin: 0px;
	padding: 0px;
	font-family: roboto;
	font-size: 24px;
	user-select: none;
	height: 35px;
}

.play-english {
	margin: 0px;
	padding: 0px;
	font-family: roboto;
	font-size: 24px;
	user-select: none;
}

.start-button {
	margin-bottom: 20px;
}